div.movie-info {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 0;
    background-color: #fbf0e4;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}